<div class="flex flex-col items-center w-full bg-white h-screen justify-center">
  <div class="flex flex-col items-start justify-center max-h-screen">
    <form
      id="form-login"
      novalidate
      class="bg-blue-light px-6 pb-5 pt-10 rounded-6 shadow-sm w-[340px] flex flex-col min-h-[450px]"
    >
      <h2 class="text-black font-medium text-xl text-center mb-8">Войти</h2>
      <div class="mb-10">
        {{#each fields}}
          <div class="mb-3 last:mb-0 relative pt-3">
            {{{ this }}}
          </div>
        {{/each}}
      </div>
      <div class="mt-auto text-center">
        {{{ button }}}
        {{{ link }}}
      </div>
    </form>
  </div>
</div>
