.arrowed {
  position: relative;
  padding-right: 20px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 8px;
    height: 14px;
    background: url("/static/img/svg/arrow.svg") center no-repeat;
    background-size: contain;
    transition: .2s;
    transform: translateY(-50%);
  }

  &:hover {
    &::after {
      right: -3px;
      background-image: url("/static/img/svg/arrow-blue.svg")
    }
  }
}
