.bg-white {
  background-color: var(--ya-white);
}

.bg-blue {
  background-color: var(--ya-blue);
}

.focus\:bg-blue-dark {
  &:focus {
    background-color: var(--ya-blue-dark);
  }
}

.active\:bg-blue-dark {
  &:active {
    background-color: var(--ya-blue-dark);
  }
}

.bg-blue-light {
  background-color: var(--ya-blue-light);
}

.bg-blue-light-hover {
  background-color: var(--ya-blue-light-hover);
}

.hover\:bg-blue-light-hover {
  &:hover {
    background-color: var(--ya-blue-light-hover);
  }
}

.bg-gray-light {
  background-color: var(--ya-gray-light);
}

.bg-gray-lighten {
  background-color: var(--ya-gray-lighten);
}

.bg-icon {
  background-color: var(--ya-icon);
}
