.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-\[7px\] {
  margin-right: 7px;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.mb-\[4px\] {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-8 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 50px;
}

.mb-11 {
  margin-bottom: 55px;
}

.mb-14 {
  margin-bottom: 70px;
}

.mb-16 {
  margin-bottom: 80px;
}

.mb-18 {
  margin-bottom: 90px;
}

.last\:mb-0 {
  &:last-child {
    margin-bottom: 0;
  }
}

.mt-\[4px\] {
  margin-top: 4px;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.ml-2 {
  margin-left: 10px;
}
