@mixin font-face($font_name, $font_path, $font_weight) {
  @font-face {
    font-family: $font_name;
    src: url("/static/fonts/#{$font_path}.ttf") format("truetype");
    font-style: normal;
    font-weight: $font_weight;
    font-display: swap;
  }
}
