.p-1 {
  padding: 5px;
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-4 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-10 {
  padding-top: 50px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-12 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}
