.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-2 {
  height: 10px;
}

.h-4 {
  height: 20px;
}

.h-10 {
  height: 50px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[1px\] {
  height: 1px;
}

.min-h-\[450px\] {
  min-height: 450px;
}

.max-h-screen {
  max-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-2 {
  width: 10px;
}

.w-4 {
  width: 20px;
}

.w-10 {
  width: 50px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[64px\] {
  width: 64px;
}

.w-\[28px\] {
  width: 28px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-\[530px\] {
  max-width: 530px;
}

.max-w-\[calc\(100\%-55px\)\] {
  max-width: calc(100% - 55px);
}

.min-w-\[280px\] {
  min-width: 280px;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}
