.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-xs {
  font-size: .75rem;
  line-height: 1.25rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-semibold {
  font-weight: 700;
}

.font-black {
  font-weight: 800;
}
