<div class="flex flex-col items-center w-full bg-white h-screen justify-center">
  <div class="flex flex-col items-start justify-center max-h-screen">
    <form id="form-register" novalidate class="bg-blue-light px-6 pb-5 pt-10 rounded-6 shadow-sm w-[340px] flex flex-col min-h-[450px]">
      <h2 class="text-black font-medium text-xl text-center mb-8">Регистрация</h2>
      <div class="mb-10">
        {{#each fields}}
          <div class="mb-3 last:mb-0 relative pt-3">
            {{> input type=this.type name=this.name required=this.required id=this.id label=this.label classes="border-b border-blue w-full py-1 text-base text-black"}}
          </div>
        {{/each}}
      </div>
      <div class="mt-auto text-center">
        {{> button label="Зарегистрироваться" classes="w-full text-center bg-blue text-white text-sm font-medium rounded-4 px-4 py-2 mb-2 duration-200 hover:opacity-80 focus:bg-blue-dark active:bg-blue-dark"}}
        {{> link href="/" label="Уже есть аккаунт" classes="text-blue decoration-none hover:underline duration-200"}}
      </div>
    </form>
  </div>
</div>
