<div class="flex h-screen">
  <div class="w-[310px] bg-blue-light border-r border-gray-light pt-4 flex flex-col">
    <div class="px-2 text-right mb-4">
      {{> link href="/settings/" label="Профиль" classes="inline-block decoration-none text-gray hover:text-blue duration-200 arrowed"}}
    </div>
    {{> search}}
  </div>
  <div class="flex-grow"></div>
</div>
